html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff');
    src: format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'MapoGoldenPier';
    margin: 0 auto;
    background-color: white;
    width: 1080px;
    -webkit-tap-highlight-color : transparent;
}

.start{
    position: relative;
    width: 1080px;
    height: 4100px;
}
#sky{
    position: relative;
    width: 100%;
    z-index: 0;
}
#cloud{
    position: absolute;
    margin-top: 173px;
    left: 0px;
    z-index: 1;
}
#fieldA{
    position: absolute;
    margin-top: 1372px;
    left: 0px;
    z-index: 2;
}
#marry{
    position: absolute;
    margin-top: 403px;
    left: 494px;
    z-index: 3;
}
#couple{
    position: absolute;
    margin-top: 937px;
    left: 154px;
    z-index: 4;
}
#fieldB{
    position: absolute;
    margin-top: 1515px;
    left: 0px;
    z-index: 5;
}
#starsA{
    position: absolute;
    margin-top: 100px;
    left: 0px;
    z-index: 6;
}
#starsB{
    position: absolute;
    margin-top: 1200px;
    left: 124px;
    z-index: 7;
}

#bgA{
    position: absolute;
    margin-top: 2350px;
    left: 0px;
    z-index: 8;
}
#letterA{
    position: absolute;
    margin-top: 2800px;
    left: 0px;
    z-index: 9;
}
#letterB{
    position: absolute;
    margin-top: 2800px;
    left: 42px;
    z-index: 10;
}
#letterC{
    position: absolute;
    margin-top: 3223px;
    left: 0px;
    z-index: 11;
}

.gallery{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    width: 1080px;
    height: 1600px;
    z-index: 15;
}

.glide__slide img{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 64px;
    width: 85%;
}
.glide__slide{
    filter: blur(20px);
    opacity: .7;
    transition: .12s linear;
}
.glide__slide--active{
    opacity: 1;
    filter: none;
    transform: scale(1.2);
}
.glide__slides{
    overflow: visible;
}

.calendar{
    background: rgb(255, 255, 255);
    position: relative;
    width: 1080px;
    height: 2100px;
    left: 0px;
    z-index: 12;
}
#countdn{
    text-align: center;
    font-size: 48px;
    color: #5f4b4b;
    top: 1600px;
    z-index: 13;
}
#newcountdown{
    font-size: 64px;
}

.map{
    position: relative;
    width: 1080px;
    height: 3349px;
    overflow: hidden;
}
#mapcover{
    position: absolute;
    left: 0px;
    z-index: 3;
}
#mapname{
    position: absolute;
    margin-top: -3740px;
    left: 0px;
    z-index: 2;
}
#map{
    position: absolute;
    margin-top: -3800px;
    left: 0px;
    z-index: 1;
}
#google{
    position: absolute;
    top: 1895px;
    left: 78px;
    z-index: 4;
}
#naver{
    position: absolute;
    top: 1895px;
    left: 327px;
    z-index: 4;
}
#kakao{
    position: absolute;
    top: 1895px;
    left: 575px;
    z-index: 4;
}
#tmap{
    position: absolute;
    top: 1895px;
    left: 823px;
    z-index: 4;
}

.call{
    position: relative;
    width: 1080px;
}
#btn01{
    position: absolute;
    top: 304px;
    left: 122px;
    opacity: 0;
}
#btn02{
    position: absolute;
    top: 589px;
    left: 122px;
    opacity: 0;
}
#callbtn01{
    position: absolute;
    top: 1299px;
    left: 39px;
    opacity: 0;
}
#callbtn02{
    position: absolute;
    top: 1299px;
    left: 532px;
    opacity: 0;
}
#callbtn03{
    position: absolute;
    top: 1492px;
    left: 39px;
    opacity: 0;
}
#callbtn04{
    position: absolute;
    top: 1492px;
    left: 532px;
    opacity: 0;
}
